<div class="center">
    <h1 style="font-size:100px">Zoo Simulator</h1>
    <h2 style="font-size:75px">By Hasan Tariq</h2>
    <a asp-controller="Zoo" asp-action="Simulation"><button type="button">Start</button></a>
</div>